@{
    ViewData["Title"] = "CompanyDividends";
}
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }
    </style>
</head>
<body>
    <div>
        <p>
            Find out the dividends of the companies for each quarter over a period of last 2 years by providing company trading symbol. For company's trading symbol check <a href="@Url.Action("Companies", "Home")" class="elements"><b><u>here</u></b></a>
            <p>Know about</p>
            <li>The dividend declared for each quarter</li>
            <li>The dividend type (Income, Retained earnings, Property dividend etc.,)</li>
            <li>The dividend amount for each share</li>
            <li>The payment date for dividend announced</li>
        </p>
    </div><br />
    <form action="/Dividends/Index" method="post">
        <b>Company Symbol:</b>
        <br />
        <br />
        <input type="text" name="Symbol">
        <br>
        <br>
        <div class="form-group">
            <div class="col-md-offset-1">
                <input type="submit" class="btn btn-primary" value="Get Dividend Info" />
            </div>
        </div>
    </form>
</body>
</html>